  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand " >
        <i class="fa fa-home" aria-hidden="true"></i>Inventory Manager
      </a>
     </nav>
    <div class="row">
      <ul class="nav flex-column col-1 navbar-dark bg-light">
        <li class="nav-item active">
          <a
            class="nav-link link-color"
            routerLink="/items"
            routerLinkActive="active"
            >Items</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link link-color"  routerLink="/warehouses">Warehouses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-color" href="#">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-color" href="#"> Reports</a>
        </li>
      </ul>
      <div class="col-11 padding-0"> 
    <router-outlet></router-outlet>
      </div>
    </div>